@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');
body{
  padding:0px;
  margin:0px;
  background-color: #151619;
}

.App{
  display: flex;
}

.textarea{
  width:92.35%;
  height: 100%;
  padding:20px;
  font-size: 1rem;
  outline:none;
  background-color: inherit;
  border: none;
  resize: none;
  color:white;
  font-family: 'Courier Prime', Courier, monospace;
  font-weight: 500;
}

.markdown{
  width:92.35%;
  height: 100%;
  padding: 20px;
  float:right;
  color:white;
  font-family: 'Roboto Slab', sans-serif;
}

.section-title{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  width:100%;
  text-align: left;
  margin: auto;
  background-color: #3A3B3F;
  color:white;
  padding:20px;
  font-family: 'Roboto Slab', sans-serif;
}

section{
  width: 50%;
  height: 100vh;
}

.split{
  border-right:1px solid #36373A;
}

blockquote{
  background-color: #2C2D30;
  padding:10px;
  padding-left:40px;
  border-radius: 5px;
  border-left:10px solid #AD6A58;
}

pre{
  background-color: #2C2D30;
  padding:10px;
  padding-left:40px;
  border-radius: 5px;
}

a{
  color:white;
  font-weight: 500;
}